.embla {
    position: relative;
}

.embla__viewport {
    overflow: hidden;
}

.embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
}

.embla__viewport.is-dragging {
    cursor: grabbing;
}

.embla__container {
    transform: none !important; /* override Embla */
    display: flex;
    height: 250px;
}

.embla__slide {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0 !important; /* override Embla */
    right: 0 !important; /* override Embla */
    opacity: 0;
    transition: opacity 0.5s;
    counter-increment: embla;
    font-size: 5rem;
}

.embla--is-ready .embla__slide {
    position: absolute;
}

.embla__slide.is-selected {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.3s;
}

.embla__slide:before {
    color: white;
    font-weight: 300;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.embla__button {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.embla__button:not(:disabled) {
    cursor: pointer;
    fill: #1bcacd;
}

.embla__button:disabled {
    fill: #e9e9e9;
}

.embla__button__svg {
    width: 3.5rem;
    height: 3.5rem;
}

.embla__button--prev {
    left: 0.7rem;
}

.embla__button--next {
    right: 0.7rem;
}

.embla__dots {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    justify-content: center;
    right: 0;
    top: 50%;
    bottom: 50%;
}

.embla__dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    width: 2.2rem;
    height: 3rem;
    border: 0;
    display: flex;
    align-items: center;
    z-index: 10;
}

.embla__dot:after {
    @apply bg-gray-700;
    width: 35px;
    height: 0.4rem;
    content: "";
}

.embla__dot.is-selected:after {
    @apply bg-blue-500;
    width: 60px;
    height: 0.6rem;
    opacity: 1;
    margin-left: -15px;
}
