.react-multi-carousel-dot-list {
    position: absolute;
    bottom: 15%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.react-multi-carousel-custom-dot--active {
    @apply bg-blue-500;
    height: 2.5rem;
    width: 0.75rem;
}

.react-multi-carousel-custom-dot--inactive {
    @apply bg-gray-700;
    height: 1.5rem;
    width: 0.5rem;
    margin-top: auto;
}

.react-multi-carousel-arrow {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.react-multi-carousel-arrow svg {
    @apply text-blue-500;
    height: 100px;
    width: 100px;
}

@media (min-width: 640px) {
    .react-multi-carousel-dot-list {
        bottom: 50%;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .react-multi-carousel-custom-dot--active {
        height: 0.75rem;
        width: 2.5rem;
        margin-left: auto;
    }

    .react-multi-carousel-custom-dot--inactive {
        height: 0.5rem;
        width: 1.5rem;
        margin-left: auto;
    }
}
